<h3>{{name}}</h3>
<ul class="list-unstyled">
  <li>Age: {{age}}</li>
  <li>Gender: {{gender}}</li>
  <li>County: {{county}}</li>
  <li>Date of death:{{dod}}</li>
  <li>Case ID: {{caseid}}</li>
  <li>Table ID: {{tableid}}</li>
  <li>Number of investigations: {{number_of_investigations}}</li>
  <li>Manner of death: {{manner_of_death}}</li>
  <li>Drug or alcohol related? {{drug_alcohol_related}}</li>
  <li>Others removed? {{others_removed}}</li>
  <li>Criminal charges? {{criminal_charges}}</li>
  <li>Age type: {{age_type}}</li>
  <li>Fault assignment: {{fault_assignment}}</li>
  <li>Previous CPS contact? {{previous_cps_contact}}</li>
  <li>Previous removal? {{previous_removal}}</li>
  <li>Other cases? {{other_cases}}</li>
  <li>Other states? {{other_states}}</li>
  <li>Not investigated? {{not_investigated}}</li>
  <li>Medical neglect? {{medical_neglect}}</li>
  <li>No convictions? {{no_convictions}}</li>
  <li>Previous child death? {{previous_child_death}}</li>
  <li>Age range: {{age_range}}</li>
  <li>Maltreatment pattern? {{maltreatment_pattern}}</li>
</ul>
